@font-face {
    font-family: "Laila";
    src: url(../fonts/Laila/Laila-Regular.ttf);
}

@font-face {
    font-family: "Griffy";
    src: url(../fonts/Griffy/Griffy-Regular.ttf);
}

/******************  GENERAL STYLES AND CLASSES  ********************/
body {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  height: 100vh; 
  background: url('../img/bg.jpg'), no-repeat;
  background-size: cover; 
  font-family: "Laila"; 
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0; 
  padding: 0; 
}

li {
  list-style-type: none; 
}

a {
  color: inherit;
  text-decoration: none; 
}

main {
  height: calc(100% - 120px);
}


.header {
  height: 50px;
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, .5); 
}

.btn {
  background-color: #10b225; 
  color: white;
  border: none;
  border-radius: 5px; 
  margin-top: 10px; 
  height: 25px;
  padding: 5px 10px; 
}

.boxDisplay {
  padding: 25px;
  width: 50%; 
  overflow: scroll;
  background-color: rgba(255, 255, 255, .5); 
  border-radius: 5px; 
}

.titleDisplay {
  color: white;
}

/******************  HEADER SECTION  ********************/



.brand {
  font-family: "Griffy"; 
}

.cartBtn {
  width: 50px; 
  background: url("../img/cart.png") no-repeat 50% center; 
}

.stockBtn {
  width: 50px; 
  background: url("../img/stock.png") no-repeat 50% center; 
}

/******************  ASIDE SECTION  ********************/

.asideSection {
  flex: .3;
  height: 100%; 
  background-color: rgba(255, 255, 255, .5); 
  padding: 0 40px; 
}

.asideSection h2 {
  margin-bottom: 20px; 
}

.articleNav_list {
  max-height: 400px; 
  overflow: scroll;
  padding: 0; 
  margin: 0;
  justify-content: center;
}

li.articleNav_listItems {
  border-bottom: 2px solid lightgrey;
  padding: 15px ;
  width: 50%; 
}

li.articleNav_listItems:hover {
  color: #10B225;
}

/******************  WELCOME SECTION  ********************/
.welcomeSection {
  color: white;
  flex: 1;
}

.welcomeArticle {
  max-width: 55%; 
  text-align: center;
}

.welcomeTitle {
  align-self: center;
  margin-bottom: 20px; 
}

/******************  PRODUCT SECTION  ********************/

.productSection {
  flex: 1;
}

.productArticle {
  max-width: 35%; 
  padding: 25px 40px;
  height: 500px; 
  position: relative;
}

.productArticle figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: scroll;
  object-fit: contain;
  margin: 20px 0;
}

.productArticle figure img {
  max-width: 80%; 
}

.productArticle figcaption{
  margin: 20px; 
  min-height: 100px; 
}

.productArticle header {
  align-items: center;
}

.productArticle header h2 {
  font-size: 20px; 
}

.addCartBtn {
  position: absolute;
  bottom: 20px; 
}

/******************  SHOPPING CART SECTION  ********************/
/*shoppingPage.php*/

.backToShopBtn {
  margin-top: 30px;
}

.cartSection {
  max-height: 400px; 
}

.itemContainer {
  height: 100px; 
  width: 100%;
  margin-bottom: 20px; 
}

.itemImg{
  width: 15%; 
  object-fit: contain;
}

.cartItemsList {
  padding: 15px; 
  width: 60%;
  text-align: center;
}

.cartItem {
  flex: 1;
}


.itemControl {
  padding: 20px; 
}

.plusControl {
  background: url("../img/plus.png") no-repeat 50% center; 
}

.minusControl {
  background: url("../img/minus.png") no-repeat 50% center; 
}

.deleteControl {
  background: url("../img/delete.png") no-repeat 50% center; 
}


/******************  STOCK SECTION  ********************/

.stockSection {
  max-height: 400px; 
}

/******************  FOOTER SECTION  ********************/
/*includes/footer.php*/

.mainFooter{
  height: 50px;
  font-size: 13px;
  background-color: rgba(255, 255, 255, .5); 
}

