body {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  height: 100vh; 
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style-type: none; 
}

a {
  color: inherit;
  text-decoration: none; 
}

/******************  HEADER SECTION  ********************/

.header {
  height: 100px;
  background-color: 
}

.mainHeader {
  padding: 10px; 
}

.mainSection {
  height: 
}

.cartBtn {
  border: none;
  width: 50px; 
  text-align: left;
  background: url("../img/cart.png") no-repeat 50% center; 
}

/******************  PRODUCT SECTION  ********************/

.productArticle {
  width: 30%;
  border: .5px solid lightgrey;
  box-shadow: 2px 2px 5px lightgrey; 
  padding: 20px; 
  min-height: 500px; 
}

.productArticle figure {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.productArticle figcaption{
  margin: 20px; 
}

.btn {
  background-color: #10b225; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px; 
  margin-top: 10px; 
  height: 20px;
}

.articleNav_list {
  max-height: 400px; 
  overflow: scroll;
  padding: 0; 
  margin: 0;
  
}

li.articleNav_listItems {
  border-bottom: 2px solid lightgrey;
  padding: 15px;
  position: relative;
}

li.articleNav_listItems:hover {
  color: green;
}


/******************  SHOPPING CART SECTION  ********************/
/*shoppingPage.php*/

.backToShopBtn {
  margin-top: 30px;
}

.cartSection {
  padding: 20px;
  width: 50%; 
  max-height: 400px; 
  overflow: scroll;
}


.itemContainer {
  height: 100px; 
  width: 100%;
  margin-bottom: 20px; 
}

.itemImg{
  width: 15%; 
  object-fit: contain;
  box-shadow: 2px 2px 5px lightgrey;  
  padding: 12px; 
}

.cartItems {
  padding: 15px; 
}


/******************  FOOTER SECTION  ********************/
/*includes/footer.php*/

.mainFooter{
  height: 50px;
  background-color: grey;
  color: lightgrey;
  font-size: 12px;
}

